body {
	margin: 0 auto;
	padding: 40px 12px;
	max-width: 1000px;
	line-height: 1.5;
	font-family: 'Rubik', sans-serif;

	--spacing-s: 6px;
	--spacing-m: 12px;
	--spacing-l: 20px;
	--spacing-xl: 30px;

	--border-radius-m: 12px;
	overflow-y: overlay;
}